.ux-cotrol {
    position: relative;
}

.ux-cotainer-row {
    width: 100%;
    display: flex;
}

.ux-button {
    position: relative;
}

.tree {}

.tree li {
    list-style-type: none;
    margin: 0;
    position: relative;

}

.tree li::before,
.tree li::after {
    content: '';
    left: -30px;
    position: absolute;
}

.tree li::before {
    height: 108%;
    width: 1px;
    background-color: rgb(226, 43, 98);
}

.tree li::after {
    height: 1px;
    top: 10px;
    width: 30px;
    background-color: rgb(226, 43, 98);
}

.tree>ul>li::before,
.tree>ul>li::after {
    border: 0;
    width: 0px;

}

.tree li:last-child::before {
    height: 10px
}